[Unit]
Description=Wien zu Fuss: Schritte zaehlen
After=pre-user-session.target

[Service]
Type=dbus
BusName=org.smatkovi.WienZuFuss.Schritte
ExecStart=/usr/libexec/wienzufuss/wzf-schritte
Restart=always
RestartSec=30

[Install]
WantedBy=user-session.target
